:8080 {
    root * /app
    file_server
    
    # 壓縮以優化加載速度
    encode gzip
    
    # 基礎安全標頭
    header / {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}